.about-div {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 1rem;
}

.about-title {
    font-size: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    font-family: 'Playfair Display', serif;
    height: 60px;
}

.about-text {
    font-size: 1rem;
    color: #261103;
    font-size: 20px;
    width: 800px;
    font-family: 'Montserrat', sans-serif;
}

.logo-about {
    height: 3rem;
    margin-left: 0.3rem;
}