.about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.about-title {
  font-size: 2rem;
  margin: 1rem;
  font-family: "Playfair Display", serif;
  height: 60px;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.about-text {
  font-size: 1rem;
  color: #261103;
  font-size: 15px;
  width: 800px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 16px;
}

.logo-about {
  height: 3rem;
  margin-left: 0.3rem;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .about-text {
    padding: 2rem;
    width: 95%;
  }
}

@media (max-width: 310px) {
  .about-title {
    width: 95%;
  }
}
