/* HEADER STYLING */

.header {
    background: var(--mainWhite);
    height: 10rem;
    display: flex;
    justify-content: space-between;
  }
  
  .logo-div {
    display: flex;
    margin-left: 1.5rem;
    margin-top: .5rem;
  
  }
  .nav-links {
    display: flex;
    
  }
  .nav-links a {
    background: #3D2314;
    color: white;
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 0.5rem 1.2rem .5rem 1.2rem;
    border-radius: 10px;
    transition: var(--mainTransition);
  }
  .nav-links a:hover {
    color: var(--primaryColor);
  }
  
    ul {
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: var(--mainBlack);
    }
    .logo {
      width: 8rem;
    }