header {
  height: 10rem;
  display: flex;
  justify-content: space-between;
}

.logo-div {
  display: flex;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}
.nav-links {
  display: flex;
}
.nav-links a {
  background: #3d2314;
  color: white;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: 10px;
  transition: 150ms;
}
.nav-links a:hover {
  color: #3d2314;
  background: #f6f4f2;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #3d2314;
}
.logo {
  width: 8rem;
}

@media (max-width: 650px) {
  .nav-links {
    display: inline;
  }
  .nav-links li {
    margin: 0.5rem;
  }
}

@media (max-width: 344px) {
  a {
    width: 2.9rem;
  }
  .nav-links a {
    font-size: 0.75rem;
    text-align: center;
  }
  .nav-links .responsive-link {
    padding-right: 1.5rem;
  }
}
