.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  margin: 0 auto;
  padding: 2rem 2.5rem;
  text-transform: capitalize;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
}

.form label {
  display: block;
  text-align: center;
  margin-bottom: 1.25rem;
  color: #3d2314;
  font-size: 1.5rem;
}

.form input {
  font-family: "Montserrat", sans-serif;
  width: 90%;
  max-width: 600px;
  border: none;
  font-size: 11px;
  background: #e7e2da;
  color: #3d2314;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.2rem;
}

input:focus,
input:hover {
  box-shadow: 0 0 5px rgba(88, 45, 18, 0.5);
  outline: 0 none;
}

.filter-name {
  color: #603814;
}

.coffeebean-logo {
  display: flex;
  justify-content: center;
}
