.singleCoffeeContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
}

.content {
  max-width: 70rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.image-container {
  position: relative;
}

img {
  max-width: 30rem;
}

.text {
  display: flex;
}

.text > p {
  margin-top: 5px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 5rem;
  padding: 3rem;
}

.span {
  background-color: #e7e2da;
  max-height: 1.2rem;
  border-radius: 3px;
  padding: 0.3rem;
  margin-right: 2rem;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 2rem;
  z-index: 99;
}

/* MEDIA QUERIES */

@media (max-width: 870px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-container {
    row-gap: 5rem;
    gap: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 622px) {
  .text {
    flex-wrap: wrap;
  }

  .span {
    margin-bottom: 1.5rem;
  }

  img {
    max-width: 19rem;
  }
}
