.singleCoffeeContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
}

.singleCoffeeContent {
  max-width: 70rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.singleCoffeImg {
  max-width: 30rem;
}

.coffeeText {
  display: flex;
}

.coffeeTextContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 5rem;
  padding: 3rem;
}

.singleCoffeeSpan {
  background-color: #e7e2da;
  max-height: 1.2rem;
  border-radius: 3px;
  padding: 0.3rem;
  margin-right: 2rem;
}

/* MEDIA QUERIES */

@media (max-width: 870px) {
  .singleCoffeeContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .coffeeTextContainer {
    row-gap: 5rem;
    gap: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 622px) {
  .coffeeText {
    flex-wrap: wrap;
  }

  .singleCoffeeSpan {
    margin-bottom: 1.5rem;
  }

  .singleCoffeImg {
    max-width: 19rem;
  }
}
